body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://thumbs.dreamstime.com/z/sunny-natur-background-bokeh-sun-rays-grass-nature-47082605.jpg?w=768");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    text-align: center;
    justify-content: center;
}
section{
    background-image: url("https://thumbs.dreamstime.com/b/bokeh-autumn-nature-background-22056226.jpg?w=360");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 450px;
}
.game--container{
    display:grid;
    grid-template-columns: repeat(3,auto);
    
    width: 300px;
    margin: 50px auto;
}
.cell{
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(221, 84, 175);
    cursor:pointer;
    font-size: 60px;
    line-height: 100px;
}